@import "../../index.scss";

.sdx {
  position: absolute;
  z-index: 0;
  width: 100%;
  min-height: 200vh !important;
  top: 0;
  left: 0;
  pointer-events: none;
  .img_prlx {
    width: 100px;
    opacity: 0.5;
    filter: invert(75%);
    transform-origin: center;

    &:nth-child(n) {
      position: absolute;
    }
    &:nth-child(1) {
      right: 5%;
      top: 20%;
    }
    &:nth-child(2) {
      right: 10%;
      top: 40%;
    }
    &:nth-child(3) {
      right: 5%;
      top: 60%;
    }
    &:nth-child(4) {
      right: 10%;
      top: 80%;
    }
    &:nth-child(5) {
      right: 10%;
      top: 100%;
    }
    &:nth-child(6) {
      right: 5%;
      top: 90%;
    }
    &:nth-child(7) {
      right: 10%;
      top: 100%;
    }
    &:nth-child(8) {
      right: 5%;
      top: 110%;
    }
    &:nth-child(9) {
      right: 10%;
      top: 120%;
    }
    &:nth-child(10) {
      right: 5%;
      top: 130%;
    }
  }
}

.counter {
  color: var(--rock-blue);
  font-size: var(--ft-med);
  position: fixed;
  top: 30%;
  left: 2.5%;
  padding: 2px;
  border: dashed 1px var(--rock-blue);
  opacity: 0.5;
  display: none;
}
