@import "../../index.scss";

.about {
  width: 80%;
  height: 80vh;
  padding: var(--padding);
  margin: 100px auto 0 auto;
  position: relative;

  .title {
    margin-bottom: 1em;
    @include flex(flex-start, center, row, 15px);

    .about_line {
      height: 2px;
      width: 30%;
      background-color: var(--rock-blue);
      opacity: 0.2;
    }

    span {
      font-size: var(--ft-2xtra);
      color: var(--ocean-blue);
    }

    h1 {
      color: var(--rock-blue);
      font-size: clamp(var(--ft-xtra), 5vw, var(--ft-22xtra));
    }
  }

  .about_brandstatement {
    @include flex(flex-start, center, row, 15px);

    .brandstatement {
      font-size: var(--ft-lg);
      color: var(--regent-gray);
      height: 100%;
      width: 70%;
      line-height: 2rem;
    }

    .avatar {
      height: 40vh;
      width: 50vw;

      img {
        width: 70%;
      }
    }
  }

  .stacks {
    margin-top: 1em;
    p {
      color: var(--regent-gray);
      height: 5vh;
    }

    .stacks_list {
      @include flex(flex-start, center, row, 15px);
    }

    .stack_arrow {
      color: var(--ocean-blue);
      font-size: var(--ft-sm);
      margin-right: 5px;
    }
  }
}
