@import "../../index.scss";

.about {
  width: 80%;
  height: max-content !important;
  padding: var(--padding);
  margin: 20px auto 0 auto;
  position: relative;
  transition: all 0.5s ease-in-out;

  .title {
    margin-bottom: 1em;
    @include flex(flex-start, center, row, 15px);

    .about_line {
      height: 2px;
      width: 30%;
      background-color: var(--rock-blue);
      opacity: 0.2;
    }

    span {
      font-size: var(--ft-2xtra);
      color: var(--ocean-blue);
    }

    h1 {
      color: var(--rock-blue);
      font-size: clamp(var(--ft-xtra), 5vw, var(--ft-22xtra));
    }
  }

  .about_brandstatement {
    @include flex(flex-start, center, row, 15px);
    transition: all 0.5s ease-in-out;

    .brandstatement {
      font-size: var(--ft-lg);
      color: var(--regent-gray);
      height: 100%;
      width: 60%;
      line-height: 2rem;

      a {
        text-decoration: none;
        color: var(--ocean-blue);
      }
    }

    .avatar {
      width: 22vw;
      height: 38vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0px;

      img {
        width: 90%;
        outline: 2px solid var(--ocean-blue);
        outline-offset: 2px;
        mix-blend-mode: luminosity;
        position: relative;
        z-index: 3;
        clip-path: polygon(
          0% 0%,
          100% 0%,
          100% 75%,
          75% 75%,
          75% 100%,
          50% 75%,
          0% 75%
        );
      }
    }
  }

  .stacks {
    margin-top: 2em;
    .stacks_title {
      color: var(--ocean-blue);
    }
    p {
      color: var(--regent-gray);
      height: 5vh;
    }

    .stacks_list {
      @include flex(flex-start, center, row, 100px);
      margin-top: 20px;
    }

    .stack1Comp {
      justify-content: center;
      align-items: center;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      .skill_icon_comp {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        color: var(--rock-blue);
      }

      .skill_name {
        display: flex;
        width: 130px;
        align-items: center;
        font-size: 20px;
        color: var(--rock-blue);
      }
    }

    .stack_arrow {
      color: var(--ocean-blue);
      font-size: var(--ft-sm);
      margin-right: 5px;
    }
  }
}

.observerAPI {
  opacity: 0;
  transform: translateY(100px);
}

.observerSeen {
  transform: translateY(0px);
}
