@import "../../index.scss";

.contact_section {
  width: 80%;
  height: 50vh;
  padding: var(--padding);
  margin: 100px auto 0 auto;
  position: relative;

  .title {
    .first_title,
    .big_title {
      @include flex(center, center, row, 5px);
      width: 100%;
    }

    .first_title {
      font-family: var(--mono-font);
      color: var(--ocean-blue);
      margin-bottom: 20px;
    }

    .big_title {
      color: var(--rock-blue);
      font-size: 50px;
      font-weight: bold;
    }
  }

  .message {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 1em;
    color: var(--regent-gray);
  }

  .Emailme {
    margin-top: 4em;
    text-align: center;

    .email {
      @include btnresetoutline;
    }
  }
}

.copyright {
  text-align: center;
  font-family: var(--mono-font);
  color: var(--regent-gray);
  font-size: var(--ft-sm);
}

.social_networks {
  display: none;
}

.scrollup {
  position: absolute;
  bottom: 20%;
  right: 0%;
  width: 100%;
  height: 10vh;
  font-size: var(--ft-2xtra);

  a {
    color: var(--ocean-blue);
    position: absolute;
    right: 0;
  }
}
