@import "../../index.scss";

.hamburger,
.sidebar {
  display: none;
}
// navbar
.navbar {
  padding: var(--padding);
  height: 8vh;
  font-family: var(--mono-font);
  @include flex(space-between, center, row, 0);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
  background: var(--firefly);

  .logo {
    border: solid 1px var(--lynch);
    aspect-ratio: 1/1;
    height: inherit;
    @include flex(center, center, row, 0);
  }

  //   *****

  .logo,
  .links span {
    color: var(--ocean-blue);
  }

  .welcome,
  .links a {
    color: var(--rock-blue);
  }

  .welcome {
    $delay: 0.2s;
    position: relative;
    width: 30%;
    height: 4vh;
    @include flex(center, center, row, 0);
    overflow: hidden;

    .first_pop,
    .second_pop {
      position: relative;
      transform: translateY(100px);
    }

    .first_pop {
      $delay: calc($delay);
      animation: smoothUp 0.5s ease-in $delay 1 forwards;
    }

    .second_pop {
      $delay: calc($delay + 0.3s);
      animation: smoothUp 0.5s ease-in $delay 1 forwards;
    }
  }

  //   *****

  .links {
    width: 40vw;
    height: inherit;
    @include flex(space-between, center, row, 0);

    li,
    a {
      text-decoration: none;
      list-style: none;
      transition: all 0.5s ease;
    }

    .resume {
      @include btnresetoutline;
      font-size: var(--ft-med);
    }
  }

  //   ***
  li:hover a {
    color: var(--ocean-blue);
  }
}

// sidebar
