@import "../../index.scss";

.network {
  position: fixed;
  width: 5vw;
  height: max-content;
  bottom: 0;
  @include flex(space-between, center, column, 1em);

  .left_network {
    @include flex(space-between, center, column, 1em);
  }

  .line1,
  .line2 {
    background-color: var(--rock-blue);
    width: 2px;
  }

  .line1 {
    height: 5vh;
  }

  .line2 {
    height: 10vh;
  }

  .right_network {
    @include flex(space-between, center, column, 1em);

    p {
      color: var(--rock-blue);
      writing-mode: vertical-rl;
      margin-bottom: 20px;
      //   text-orientation: upright;
    }
  }

  .social {
    a {
      text-decoration: none;
      color: var(--rock-blue);
      font-size: var(--ft-xtra);
    }
  }
}
