@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&family=Roboto:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --firefly: #0c1c2f;
  --bunting: #132442;
  --rock-blue: #9eb0c9;
  --regent-gray: #7c86a2;
  --blue-bayoux: #54687d;
  --lynch: #6c7794;
  --fiord: #46516a;
  --ocean-green: #3b988e;
  --ocean-blue: #6ae9ff;
  --pickled-bluewood: #323e56;
  --fiord: #3b4a64;

  --mono-font: "Roboto Mono", monospace;
  --roboto-font: "Roboto", sans-serif;

  --padding: 1em;
  --sect-margin: 100px;
  --radius-small: 4px;
  --radius-medium: 10px;

  --ft-base: 8px;
  --ft-sm: 12px;
  --ft: 14px;
  --ft-med: 16px;
  --ft-lg: 18px;
  --ft-xtra: 24px;
  --ft-2xtra: 30px;
  --ft-22xtra: 40px;
  --ft-vxtra: 50px;
  --ft-giant: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body,
html {
  background: var(--firefly);
  padding: 0;
  margin: 0;
  font-family: var(--roboto-font);
}

.Main {
  padding: var(--padding);
}

@mixin flex($jc, $ai, $fd, $gap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $gap;
}

@mixin btnresetoutline {
  appearance: none;
  padding: 12px 16px;
  border-radius: var(--radius-small);
  background: none;
  transition: all 0.5s ease;
  outline: none;
  border: solid 1px var(--ocean-blue);
  color: var(--ocean-blue);
  cursor: pointer;
}

// *********animations

@keyframes smoothUp {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes leftsmooth {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes opaciySlideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
